* {
    font-family: Work Sans;
}



/* this is header-section */

header{
    background-color: aquamarine;
}
nav{
    display: flex;
    padding: 40px 220px;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
  
}
nav a{
    text-decoration: none;
}
img{
    width: 100px;
    height: 100px;
}